@import '@/styles/_reset.scss'; //typography
@import '@/styles/_typography.scss'; //typography
@import '@/styles/_variables.scss'; //variables


html{
  font-size: 16px;
}

section{
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;

    @include tablet{
      height: 100vh;
      overflow: unset;
    }
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $darkBlack;
}

::-webkit-scrollbar-thumb {
  background: $blue;
}

.tagName {
        display: none;
        transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(0);
   

    .arrow {
      display: none;
      position: absolute;
      width: 100px;
      top: -60px;

      .curve {
        border: 2px solid $blue;
        border-color: transparent transparent transparent $blue;
        height: 130px;
        width: 80px;
        border-radius: 230px 0 0 310px;
        transform: rotate(180deg);
      }

      .point {
        position: absolute;
        left: 40px;
        top: 0;
        transform: rotate(180deg);

        &:before,
        &:after{
          content: "";
          border: 1px solid $blue;
          height: 25px;
          position: absolute;
        }

        &:before{
          top: -11px;
          left: -11px;
          transform:rotate(-74deg);
        }

        &:after{
          top: -20px;
          left: 5px;
          transform:rotate(12deg);
        }
      }

    }

     }


a {
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 30px);
    height: 2px;
    background-color: $blue;
    z-index: -1;
    transition: all 0.5s ease;
  }

  &:hover {
    &:after {
      height: 50px;
    }
  }
}

.base__title {
        font-family: $louisGeorgeBold;
        @include typography(54, 60, 320, 1440);
        letter-spacing: 10px;
        text-align: left;
        margin-bottom: $m-5;
        margin-top: $m-6;

        @include tablet{
          margin-bottom: $m-4;
          margin-top: $m-4;
        }
    }

.base__seeMore {
        margin-top: 50px;
        margin-bottom: 50px;
    }
