.perspective {

      *{
          transition: all 1s ease;
      }

        .tagName {
            position: absolute;
            left: -50px;
            top: -70px;
            display: inline-block;
            color: $blue;
        }

        .arrow{
          display: inline-block;
        }

        .base__title{
            transform: perspective(2000px) rotateX(0) rotateY(50deg) rotateZ(0) translateZ(0);
            transform-origin: left;
        }

        .home__titleContainer{
          transform: perspective(2000px) rotateX(0) rotateY(50deg) rotateZ(0) translateZ(0);
          transform-origin: left;

          .base__title{
            transform: unset;
            transform-origin: unset;
          }
        }

        .iconContainer{
          .iconName{
            opacity: 1;
          }

          .iconImage{
          transform: rotateY(40deg) translate3d(-50%, -50%, 15px);
          }
        }

        .photoContainer{
          transform: perspective(2000px)  rotateY(50deg) ;

          .drawCanvas{
            padding-bottom: 0;

            img{
              display: block;
              transform:   rotateY(25deg) translateZ(150px);
            }

            canvas{
              pointer-events: none;
            }
          }
        }



        a {
            transform: perspective(2000px);

            &:after {
                transform: translate3d(-80px, 0, -60px);
                height: 50px;
            }
        }

        .base__seeMore {
            transform: perspective(2000px) rotateX(0) rotateY(50deg) rotateZ(0);
        }

        .project {
            box-shadow: 11px 8px 20px 0 rgba(0,0,0,0.24);
            transform-origin: left;
            transform-style: preserve-3d;
            transform: perspective(1000px) rotateX(0) rotateY(35deg) rotateZ(0) translateZ(0);

            .project__container {
                z-index: 1;
                transform: translateZ(80px);
            }
            .project__icons,
            .project__labelContainer,
            .iconName  {
                opacity: 1;
            }

            &:before {
                transform: translate3d(10px, 0, -60px);
            }

            &:after {
                background: rgba($darkBlack, 0.8);
            }

            &__icons {
                transform: rotateX(0) rotateY(35deg) rotateZ(0) translateZ(0);
            }

        }

        .projectDetail__container {
            perspective: 2000px;
            transform: perspective(2000px),
               rotateX(0deg),
               rotateY(35deg),
               rotateZ(0deg),
               translateX(0px);

            .slider {
                transform: translateZ(325px);
            }

            .projectDetail__text {
                transform: translateZ(20px);
            }
        }

        .interest {
            transform-origin: left;
            transform-style: preserve-3d;
            transform: perspective(1000px) rotateX(0) rotateY(35deg) rotateZ(0) translateZ(0);
            opacity: 1;

            svg{
              opacity: 1;
              transform: translateZ(80px);
            }
        }

    }
